<h1>{{ subject }}</h1>
<p>Bonjour {{user.nom}}, Création de compte avec succés, veuillez cliquer <a href={{url( "api_users_MAIL_VALIDATE_collection ", { 'token':user.token})}}>ICI</a> pour l'activer

</p>